<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/">
    </head>
<body>
    
    <div>
        <h1>Edit Task</h1>
        <form action="/planner/friday/<%=task._id%>?_method=PUT" method="POST">
            <input type="hidden" name="day" value="friday">
            <label>To Do: <input type="text" name="taskName" placeholder="I need to..." value="<%=task.taskName%>"/></label>
            <label>Date: <input type="text" name="date" placeholder="On..." value="<%=task.date%>"/></label>
            <label>Details: <input type="text" name="taskDetail" placeholder="Don't forget..." value="<%=task.taskDetail%>"/></label>
            <label>Is this urgent? <input type="checkbox" name="urgent"></label>
            <label><input type="submit" value="Update task"/></label>
        </form>
        <a href="/planner/friday"><button>Back to Tasks</button>
    </div>

</body>
</html>