<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/show.css">
    </head>
    
<body>
    <div class="logo">
        <img src="https://i.imgur.com/t10gAFN.png">     
        </div>
    
        <div class="content">
            <h1><%=task.taskName%></h1>
            <h2>Friday, <%=task.date%></h2>
            <p><%=task.taskDetail%></p>
            <% if(task.urgent === true ){ %>
                <h2 style="color: red">Urgent, don't forget!</h2>
                <% } else { %>
                    <h2 style="color: #400400">Not urgent, but don't forget!</h2>
                <% } %>
            
                <div class="buttons">
            <a href="/planner/friday"><button class="backToTaskButton">Back to Tasks</button></a>
            <a href="/planner/friday/<%=task._id%>/edit"><button class="editTaskButton">Edit Task</button></a>
            <form action="/planner/friday/<%=task._id%>?_method=DELETE" method="POST">
            <input class="deleteButton" type="submit" value="Delete Task">
            </form>
        </div>
        </div>
        <div class="space"></div>
</body>
</html>