<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/">
    </head>

<body>

    <h1>MONDAY</h1> 
    <a href="/planner/monday/new"><button>Create new task</button></a>

        <% for(task of tasks) { %>
            <a href="/planner/monday/<%=task._id%>"><h3><%=task.taskName%></h3></a><h5><%=task.date%></h5><p><%=task.urgent ? "urgent" : "" %></p>
        <% } %>

        <a href="/planner"><button>Back to Planner</button></a>

</body>
</html>