<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/show.css">
    </head>
    
<body>
        <h1><%=task.taskName%></h1>
        <h2>monday</h2>
        <h2><%=task.date%></h2>
        <p><%=task.taskDetail%></p>
        <h2 class="urgency">
            <%=task.urgent ? "URGENT, don't forget!" : "Not urgent, but don't forget!"%>
        </h2>
        <!-- <% if(task.urgent === true ){ %>
            return style="color:red"
            else {
                return style="color:blue"
            }
        <% } %> -->
        
        <a href="/planner/monday"><button class="backToTaskButton">Back to Tasks</button></a>
        <a href="/planner/monday/<%=task._id%>/edit"><button class="editTaskButton">Edit Task</button></a>
        <form action="/planner/monday/<%=task._id%>?_method=DELETE" method="POST">
        <input class="deleteButton" type="submit" value="Delete Task">
        </form>
</body>
</html>