<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/static/">
    </head>
    
<body>
    <h1>THURSDAY</h1>

        <h1><%=task.taskName%></h1>
        <h3><%=task.date%></h3>
        <p><%=task.taskDetail%></p>
        <h3><%=task.urgent ? "URGENT, don't forget!" : "Not urgent, but here's a reminder!"%></h3>
        
        <a href="/planner/thursday"><button>Back to tasks</button>
        <a href="/planner/thursday/<%=task._id%>/edit"><button>Edit Task</button></a>
        <form action="/planner/thursday/<%=task._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Task">
        </form>
</body>
</html>